.Title {
    margin: 0px auto;
    color: white;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40%;
    text-shadow: -1px -1px 1px rgb(14, 123, 187), 3px 3px 0px rgb(14, 123, 187), 6px 6px 0px rgb(19, 129, 192);
}


